@page "/wip"

@using Microsoft.Extensions.Localization;
@using QBNsite.Resources;
@using QBNsite.Helper;

@inject IStringLocalizer<HomeLocales> L
@inject NavigationManager NavManager
@inject Helper HelperInstance;

@code {
	private void GoHome()
	{
		NavManager.NavigateTo(HelperInstance.homePath);
	}

	string wipImagePath => HelperInstance.homePath + "Images/png/WIP.png";
}

<PageTitle>@L["WIP"]</PageTitle>

<h1>@L["WIP"]</h1>

<p>@L["WIPMessage"]</p>

<button class="btn btn-primary" @onclick="GoHome">@L["BackHome"]</button>

<p> </p>
<img src="@wipImagePath"/>

